<!DOCTYPE html>
<html>

  <head>
    <title>DDR HS-Table</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DDR HS-Table">
    <script src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript"></script>
  </head>

  <body>
    <div id="app">

      <h1>DDR ハイスピ早見表</h1>

      <p>
        ちょうどいい bpm: <input type="number" v-model="target_bpm" />
      </p>

      <table border=1>
        <thead>
          <tr>
            <th>BPM</th>
            <th>速め</th>
            <th>遅め</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in hs_by_bpm">
            <td>{{ item.base_bpm }}</td>
            <td>{{ !item.upper ? "" : "x" + item.upper.hs + " (" + item.upper.bpm + ")" }}</td>
            <td>{{ !item.lower ? "" : "x" + item.lower.hs + " (" + item.lower.bpm + ")" }}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <script>
const HS_VALUES = [
    8.00, 7.50, 7.00, 6.50, 6.00, 5.50, 5.00, 4.50, 4.00, 3.75, 3.50, 3.25,
    3.00, 2.75, 2.50, 2.25, 2.00, 1.75, 1.50, 1.25, 1.00, 0.75, 0.50, 0.25
];

const vm = new Vue({
    el: "#app",
    data: {
        target_bpm: "600"
    },
    computed: {
        suitable_bpms: function () {
            const target_bpm = Number(this.target_bpm);
            return HS_VALUES.map(function (value) {
                return target_bpm / value;
            });
        },
        hs_by_bpm: function () {
            var res = [];
            var upper = -1;
            var lower = 0;

            for (var bpm = 50; bpm <= 600; bpm++) {
                if (upper + 1 < HS_VALUES.length && bpm >= this.suitable_bpms[upper + 1]) {
                    upper++;
                }
                if (lower < HS_VALUES.length && bpm > this.suitable_bpms[lower]) {
                    lower++;
                }
                res.push({
                    base_bpm: bpm,
                    upper: upper < 0 ? null : {
                        hs: HS_VALUES[upper],
                        bpm: HS_VALUES[upper] * bpm
                    },
                    lower: lower >= HS_VALUES.length ? null : {
                        hs: HS_VALUES[lower],
                        bpm: HS_VALUES[lower] * bpm
                    }
                });
            }

            return res;
        }
    }
});
    </script>
  </body>

</html>
